*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --color1:#E4D571;
  --color2:#DE9112;
  --color3:#C39953;
  --color4:#87413F;
}

.bg1{
  background: var(--color3);
background: -moz-linear-gradient(45deg, var(--color1) 0%, var(--color3) 100%);
background: -webkit-linear-gradient(45deg,  var(--color1)0%,var(--color3) 100%);
background: linear-gradient(45deg,  var(--color1) 0%,var(--color3) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E4D571', endColorstr='#C39953',
GradientType=1 );
}

.bg2{
  background-color: #E7FEFF;
}
.color1{
  color: var(--color1);
}
.color2{
  color: var(--color2);
}
.color4{
  color: var(--color4);
}

.container{
  padding: 50px 25px;
}

.border1{
  border: 2px solid var(--color2);
  border-radius: 7px;
  box-shadow: 0 0 10px var(--color3);
  padding:10px 25px;
}


.head{
  padding-top: 75px;
}
.circle{
  border-radius: 50%;
  border: 2px solid var(--color4);
}

.triangl{
  width: 0;
height: 0;
border-style: solid;
border-width: 30px 18px 0 18px;
border-color: var(--color4) transparent transparent transparent;
}


h3,h2{
  font-family: 'Patrick Hand', cursive; 
}
p{
  font-family: 'Noto Serif', serif;
}

.btn-th{
  padding: 20px 35px;
  color: var(--color4);
  font-weight: bold;
}
.btn-th:hover{
  background-color: #87413F;
  color:var(--color3);
}
.seconds{
  width: 250px;
  height: 70px;
}

.time-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0; 
}
.time-list li{
margin: 10px;
}

.time-switch{
  background-color: transparent;
  padding: 10px 25px;
}


/*font-family: 'Patrick Hand', cursive;
font-family: 'Noto Serif', serif;
*/